{{> header_layout}}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card mt-4">
                <img src="https://reasound.com/wp-content/uploads/2021/10/Martin-Audio-X8B.jpg" alt="demo" class="card-img-top">
                <div class="card-body">
                    <h2><span id="unit-price">{{price}}</span>$</h2>
                    <p id="product-description">{{description}}</p>
                </div>
                <div class="card-footer">
                    <div id="card-element"></div>
                    <button type="button" id="checkout-button" class="btn btn-dark d-block w-100 mt-2">
                        <i class="fa-solid fa-cart-shopping"></i> 
                        Buy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="js/script.js"></script>
{{> footer_layout}}
